body {
  margin: 0px;
  font-family: sans-serif;
}

#main-header {
  height: 50px;
  width: 100%;

  background: black;
  color: white;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 5;
}

#main-sidebar {
  width: 200px;
  height: 100%;

  border-right: 1px solid black;
  
  position: fixed;
  left: 0;
  top: 50;
}

#main-content {
  margin-left: 200px;
  margin-top: 50px;
}